* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Raleway', sans-serif;
}

.center {
    display: flex;
    max-width: 1100px;
    padding: 0 2%;
    margin: 0 auto;
    flex-wrap: wrap;
}

section.main {
    background-image: url(img/planet\ background.png);
    background-position: center;
    background-size: cover;
    min-height: 700px;
    padding: 20px 0 80px 0;

}


.mockup {

    width: 100%;
    color: white;
    text-align: center;
    padding-top: 100px;
}

.mockup h1 {
    font-size: 100px;
}

.mockup p {
    font-size: 50px;
}

body {
    margin: 0;
    background-color: rgb(208, 255, 239);
}

.centralizar {
    display: flex;
    justify-content: center;
}

#main-play-area {
    background-color: black;
    background-image: url(img/space.png);
    height: 600px;
    width: 600px;
}

.game-instructions {
    position: relative;
    color: white;
    left: 7rem;
    top: 0px;
}

.start-button {
    position: relative;
    color: white;
    top: 9rem;
    left: 15rem;
    cursor: pointer;
}

.player-shooter {
    position: relative;
    height: 60px;
    width: 70px;
    left: 20px;
    top: 250px
}

.laser {
    position: relative;
    width: 40px;
    height: 30px;
}

.alien {
    height: 60px;
    width: 70px;
    position: relative;
}

.alien-transition {
    opacity: 1;
    transition: opacity 1.5s ease-in-out;
}

.dead-alien {
    height: 60px;
    width: 70px;
    position: relative;
    opacity: 0;
}

section.contato {
    padding: 40px 0;
    text-align: center;
}

section.contato h1 {
    font-size: 30px;
}

section.contato form {
    width: 100%;
}


.contato input[type=text],
.contato input[type=email] {
    width: 100%;
    height: 50px;
    margin: 20px 0;
    border-radius: 10px;
    background: #FCFDFF;
    border: 1px solid #C3CCE8;
    padding-left: 10px;
}

.contato textarea {
    width: 100%;
    height: 120px;
    margin: 20px 0;
    border-radius: 10px;
    background: #FCFDFF;
    border: 1px solid #C3CCE8;
    padding: 10px;
    resize: vertical;
}

.contato input[type=submit] {
    width: 100%;
    height: 50px;
    display: block;
    cursor: pointer;
    border: 0;
    background: #255AFF;
    color: white;
    font-size: 18px;
    border-radius: 10px;
}


footer {
    padding: 10px 0;
    background: #255AFF;
    color: white;
}

.text-footer {
    width: 50%;
    padding: 8px 0;
}


.text-footer {
    width: 100%;
    text-align: center;
    padding: 8px 0;
}